<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <base href="/">
    <!-- Corrected CSS and JS paths -->
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
    <style>
        body {
            background-color: rgb(125, 139, 202)
        }

        .container {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            width: 400px;
            height: 400px;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- include('../partials/header.ejs') %>
            <h1>main layout in ejs</h1>
            <main class="main">
                <%- body %>
            </main>
            <%- include('../partials/footer.ejs') %>
    </div>
</body>

</html>